<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TBESTBusStopBalancing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TBESTBusStopBalancing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
  </runtime>
  <userSettings>
    <TBESTBusStopBalancing.Properties.Settings>
      <setting name="DistanceScore" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ConnectivityScore" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RidershipScore" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PopulationScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EmploymentScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinorityScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LowIncomeScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RidershipExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RidershipMaxValue" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SchoolExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransferExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FacilitiesExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BaseMap" serializeAs="String">
        <value>ArcGISLightGray</value>
      </setting>
      <setting name="MaxStopDwellTime" serializeAs="String">
        <value>12</value>
      </setting>
    </TBESTBusStopBalancing.Properties.Settings>
    <TBESTBusStopBalancing.My.MySettings>
      <setting name="DistanceScore" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ConnectivityScore" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RidershipScore" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PopulationScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EmploymentScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MinorityScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LowIncomeScore" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RidershipExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RidershipMaxValue" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SchoolExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TransferExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FacilitiesExclusion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RoutingAPIKey" serializeAs="String">
        <value>58d904a497c67e00015b45fc545de042ffcd48c7bc599669ec5a620c</value>
      </setting>
      <setting name="BaseMap" serializeAs="String">
        <value>Canvas/World_Light_Gray_Base</value>
      </setting>
      <setting name="MaxStopDwellTime" serializeAs="String">
        <value>12</value>
      </setting>
    </TBESTBusStopBalancing.My.MySettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>