# Visual Studio
.vs/
.vscode/
*.user
*.rsuser
*.suo
*.cache
*.pdb
bin/
obj/
*.log

#ignore directories
/SampleAddIn/AddInToDeploy/*.exe
/RidershipEstimationModel/ModelLinearEquation/ModelToDeploy/*.dll

# NuGet Packages
packages/
*.nupkg